html,
body {
  padding: 0;
  margin: 0;
  font-family: "Noto Sans";
  font-style: normal;
  color: var(--black);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.over{
  transition: all 0.3s ease-out;
  transform: scale(125%);
  cursor: pointer;
}

:root {
  --black: #3b434e;
  --violet: #7653fc;
  --green: #1dc37e;
  --lightgreen: #c8f8e4;
  --lightgray: #ebebeb;
  --gray: #787d85;
  --orange: #fc836d;
  --red: #de0000;
}
