.container {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  width: 100%;
  min-height: calc(100vh - 72px);
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: flex-start;
}
